<nav
  class="d-flex flex-row flex-justify-content-between flex-align-items-center"
>
  <a class="logo" [routerLink]="['']">
    <img
      ngSrc="assets/theatrum_logo.png"
      width="70"
      height="70"
      alt="image theatrum icon"
      priority
    />
  </a>
  <ul class="d-flex">
    <li>
      <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
    </li>
    <li>
      <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
    </li>
    <li>
      <a>About us</a>
    </li>

    <li>
      <a [routerLink]="['/contents']" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a [routerLink]="['/panier']" routerLinkActive="active">Panier</a>
    </li>
    <li>
      <a>Contact us</a>
    </li>
    <li>
      <a [routerLink]="['/']">Logout</a>
    </li>
  </ul>
</nav>
