<nav
  class="d-flex flex-row flex-justify-content-between flex-align-items-center"
>
  <a class="logo" [routerLink]="getRouterLink()">
    <img
      ngSrc="assets/theatrum_logo.png"
      width="70"
      height="70"
      alt="image theatrum icon"
      priority
    />
  </a>

  <ul class="d-flex">
    <li *ngIf="!authService.isAuthenticated()">
      <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
    </li>
    <li *ngIf="!authService.isAuthenticated()">
      <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
    </li>
    <li *ngIf="!authService.isAuthenticated()">
      <a>About us</a>
    </li>

    <li *ngIf="authService.isAuthenticated()">
      <a [routerLink]="['/contents']" routerLinkActive="active">Home</a>
    </li>
    <li *ngIf="authService.isAuthenticated()">
      <a [routerLink]="['/panier']" routerLinkActive="active">Panier</a>
    </li>
    <li *ngIf="authService.isAuthenticated()">
      <a [routerLink]="['/confirm-logout']" routerLinkActive="active">Logout</a>
    </li>
  </ul>
</nav>
