<nav
  class="d-flex flex-row flex-justify-content-between flex-align-items-center"
>
  <a class="logo" [routerLink]="getRouterLink()">
    <img
      ngSrc="assets/theatrum_logo.png"
      width="70"
      height="70"
      alt="image theatrum icon"
      priority
    />
  </a>

  <ul class="d-flex">
    <li *ngIf="!authService.isAuthenticated()">
      <a [routerLink]="['/login']" routerLinkActive="active"
        >Login <fa-icon [icon]="faSignInAlt"></fa-icon
      ></a>
    </li>
    <li *ngIf="!authService.isAuthenticated()">
      <a [routerLink]="['/register']" routerLinkActive="active"
        >Register <fa-icon [icon]="faUserPlus"></fa-icon
      ></a>
    </li>
    <!-- <li *ngIf="!authService.isAuthenticated()"> -->
    <!-- <a>About us</a> -->
    <!-- </li> -->

    <li *ngIf="authService.isAuthenticated()">
      <a
        [routerLink]="['/contents', clienteId, clienteNome]"
        routerLinkActive="active"
        >Home</a
      >
    </li>
    <li *ngIf="authService.isAuthenticated()">
      <a
        [routerLink]="['/panier', clienteId, clienteNome]"
        routerLinkActive="active"
        >Panier</a
      >
    </li>
    <li *ngIf="authService.isAuthenticated()">
      <a
        [routerLink]="['/confirm-logout', clienteId, clienteNome]"
        routerLinkActive="active"
        >Logout</a
      >
    </li>
  </ul>
</nav>
