nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 85px;
  padding: 0 100px;
  background-color: var(--primary);
  .logo {
    padding: 7px 0 0 5px;
    img {
      border-radius: 10%;
    }
    &:hover {
      transform: scale(0.9);
    }
    transition: transform 0.3s;
  }
  ul {
    padding-top: 5px;
    gap: 10px;
    li {
      display: inline-block;
      a {
        padding: 2px 7px 4px;
        border-radius: 6px;
        &:hover {
          background-color: var(--secondary);
        }
        transition: background-color 0.4s;
      }
    }
  }
}

// routerLinkActive
.active {
  border-radius: 6px;
  padding: 5px 7px 4px;
  background-color: var(--secondary);
  transition: background-color 0.1s;
}
