<div class="container d-flex flex-justify-content-center">
  <form
    class="formulaire d-flex flex-column"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <h3 class="form-title">Login</h3>

    <!-- Email -->
    <div class="form-control d-flex flex-column">
      <label for="email">Email<span class="asterisco">*</span></label>
      <input
        formControlName="email"
        type="text"
        id="email"
        name="email"
        placeholder="exemple@gmail.com"
        (change)="updateFormErrors()"
      />
    </div>

    <!-- Codice utente -->
    <div class="form-control d-flex flex-column">
      <label for="codiceUtente"
        >Codice utente<span class="asterisco">*</span></label
      >
      <input
        formControlName="codiceUtente"
        name="codiceUtente"
        type="text"
        id="codiceUtente"
        placeholder="digitare codice utente"
        (change)="updateFormErrors()"
      />
    </div>

    <!-- Errore generale del form -->
    <div *ngIf="formErrors['form'].message">
      <div class="separator"></div>
      <p class="errorText">{{ formErrors["form"].message }}</p>
    </div>
    <button class="btn btn-primary mb-5 mt-10">Sign in</button>
  </form>
</div>
