<div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h3>Login</h3>

    <!-- Email -->
    <div>
      <label for="email">Email<span class="asterisco">*</span></label>
      <input
        formControlName="email"
        type="text"
        id="email"
        name="email"
        placeholder="exemple@gmail.com"
      />
    </div>

    <!-- Codice utente -->
    <div>
      <label for="codiceUtente"
        >Codice utente<span class="asterisco">*</span></label
      >
      <input
        formControlName="codiceUtente"
        name="codiceUtente"
        type="text"
        id="codiceUtente"
        placeholder="digitare codice utente"
      />
    </div>

    <!-- Errore generale del form -->
    <div *ngIf="formErrors['form'].message">
      <div class="separator"></div>
      <p class="errorText">{{ formErrors["form"].message }}</p>
    </div>
    <button class="">Sign in</button>
  </form>
</div>
