<div
  class="container d-flex flex-justify-content-center"
  style="padding-top: 30px"
>
  <form
    (ngSubmit)="submit()"
    [formGroup]="orderForm"
    class="formulaire d-flex flex-column flex-align-items-center"
  >
    <div class="d-flex flex-column form-group">
      <label>Codice Cliente <span class="asterisco">*</span></label>
      <input name="codiceCliente" formControlName="codiceCliente" type="text" />
    </div>

    <div class="d-flex flex-column form-group">
      <label>Codice Replica <span class="asterisco">*</span></label>
      <input name="codiceReplica" formControlName="codiceReplica" type="text" />
    </div>

    <!-- Radio button -->
    <div class="d-flex flex-column form-group">
      <label>Tipo pagamento</label>
      <div class="d-flex flex-column">
        <div>
          <label style="color: #000"
            >Carta di Credito
            <input
              formControlName="tipoPagamento"
              type="radio"
              value="cartaDiCredito"
          /></label>
        </div>
        <div>
          <label style="color: #000"
            >PayPal
            <input
              formControlName="tipoPagamento"
              type="radio"
              value="bonifico"
          /></label>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column form-group">
      <label>Quantità <span class="asterisco">*</span></label>
      <input formControlName="quantita" name="quantita" type="number" />
    </div>
    <div class="separator"></div>
    <button class="btn btn-primary mb-5 mt-10">Acquista</button>
  </form>
</div>
