<div class="welcome-content">
  <h2 class="intro-heading">Benvenuti su Theatrum</h2>
  <p class="intro-text">
    Il tuo passaporto per scoprire e prenotare spettacoli e mostre in tutta
    Italia. Che tu stia cercando eventi locali o internazionali, la nostra
    piattaforma rende facile trovare e riservare esperienze culturali uniche nei
    musei e teatri del paese. Vivi la magia dell'arte e della cultura globale
    con la comodità di un clic, e trasforma ogni evento in un'esperienza
    indimenticabile.
  </p>
</div>
