.theatrum-container {
  .message-content {
    width: max-content;
    padding: 20px;
    background-color: var(--dark-gray);
    border: 1px solid var(lightGray);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transform: translateX(0);
    opacity: 0;
    animation: slideRight 2s ease-in-out forwards;
    .intro-text {
      font-size: 1em;
      color: white;
      line-height: 1.5;
      text-align: center;
    }

    .btn-container {
      width: 100%;
      .lista {
        list-style: none;
        gap: 15px;
        margin-top: 20px;
        .btn {
          padding: 5px 10px;
        }
      }
    }
  }
}
