<div class="container d-flex flex-justify-content-center">
  <form
    class="formulaire d-flex flex-column"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <h3 class="form-title">Register</h3>
    <!-- Nome -->
    <div class="form-control d-flex flex-column">
      <label for="nome">Nome<span class="asterisco">*</span></label>
      <input
        formControlName="nome"
        type="text"
        id="nome"
        name="nome"
        placeholder="Inserisci il tuo nome"
        (change)="updateFormErrors()"
      />
      <div *ngIf="formErrors['nome'].message">
        <p class="errorText">
          {{ formErrors["nome"].message }}
        </p>
      </div>
    </div>

    <!-- Cognome -->
    <div class="form-control d-flex flex-column">
      <label for="cognome">Cognome<span class="asterisco">*</span></label>
      <input
        formControlName="cognome"
        type="text"
        id="cognome"
        name="cognome"
        placeholder="Inserisci il tuo cognome"
        (change)="updateFormErrors()"
      />
      <div *ngIf="formErrors['cognome'].message">
        <p class="errorText">
          {{ formErrors["cognome"].message }}
        </p>
      </div>
    </div>

    <!-- Email -->
    <div class="form-control d-flex flex-column">
      <label for="email">Email<span class="asterisco">*</span></label>
      <input
        formControlName="email"
        type="email"
        id="email"
        name="email"
        placeholder="exemple@gmail.com"
        (change)="updateFormErrors()"
      />
      <div *ngIf="formErrors['email'].message">
        <p class="errorText">
          {{ formErrors["email"].message }}
        </p>
      </div>
    </div>

    <!-- Password -->
    <div class="form-control d-flex flex-column">
      <label for="password">Password<span class="asterisco">*</span></label>
      <input
        formControlName="password"
        type="password"
        id="password"
        name="password"
        placeholder="Digita password"
        (change)="updateFormErrors()"
      />
      <div *ngIf="formErrors['password'].message">
        <p class="errorText">
          {{ formErrors["password"].message }}
        </p>
      </div>
    </div>

    <!-- Conferma Password -->
    <div class="form-control d-flex flex-column">
      <label for="confirmPassword"
        >Conferma Password<span class="asterisco">*</span></label
      >
      <input
        formControlName="confirmPassword"
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Conferma password"
        (change)="updateFormErrors()"
      />
      <div *ngIf="formErrors['confirmPassword'].message">
        <p class="errorText">
          {{ formErrors["confirmPassword"].message }}
        </p>
      </div>
    </div>

    <!-- Errore generale del form -->
    <div *ngIf="formErrors['form'].message">
      <div class="separator"></div>
      <p class="errorText">{{ formErrors["form"].message }}</p>
    </div>

    <button class="btn btn-primary mb-5 mt-10">Submit</button>
  </form>
</div>
