* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit; //Pour pas avoir la couleur par default et donc hériter de la couleur du parent
  cursor: pointer;
}

/*Definition de variables*/
:root {
  --font-family: "Kalam", cursive;
  /* Colore principale (Verde Oliva) */
  --primary: #b1a64b;

  /* Colore secondario (Beige Chiaro) */
  --secondary: #8c6e45;
  --secondary-2: #dcd6ba;

  --accent: #4b8490; /* Blu Grigio */
  --accent-blue: #a1b8c8; /* Blu Polvere Chiaro */
  --accent-blueLight: #d1e0e8; /* Blu Chiaro/Grigio Neutro */

  /* Neutri */
  --lightGray: #ddd;
  --text-regular: #333; /* Testo regolare */

  /* Aggiunto un bianco sporco per sfondi */
  --background-light: #efefef;

  /* Aggiunto un grigio scuro per contrasto */
  --dark-gray: #4b4b4b;
}

body {
  padding: 0 100px;
  font-family: var(--font-family);
  color: var(--text-regular);
  background-color: var(--primary);
  min-height: 100vh;
}

// Layout

.theatrum-container {
  min-height: calc(100vh - 85px); /* gli 85px est la height della NavBar*/
  // background-color: #333;
  // border: 1px solid black;
  margin-top: 85px;
  max-width: auto;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-between {
  align-items: space-between;
}

.flex-fill {
  flex: 1 1 auto; //cosi l'elemento prend tuuto lo spazio disponibile
}

.flex-30 {
  flex: 1 1 30%;
}

.flex-40 {
  flex: 1 1 40%;
}

.flex-50 {
  flex: 1 1 50%;
}

.flex-60 {
  flex: 1 1 60%;
}

.flex-70 {
  flex: 1 1 70%;
}

//Utils

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

//Theme

.btn {
  font-family: var(--font-family);
  padding: 4px 6px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  color: var(--text-regular);
  cursor: pointer;
  &-primary {
    background-color: var(--primary);
    &:hover {
      opacity: 0.7;
    }
    transition: background-color 0.4s;
  }
}

.badge {
  background-color: var(--secondary);
  border-radius: 6px;
  padding: 4px 5px 0px 5px;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

//Debug pour bien observer les limite de nos élément html

.d1 {
  border: 1px solid red;
}

.d2 {
  border: 1px solid rgb(0, 255, 30);
}

// Animation

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeInScale 1s ease-in-out;
}

// Generals

.list {
  li {
    margin-bottom: 5px;
    padding: 10px 15px;
    border: 1px solid var(--lightGray);
    border-radius: 3px;
    cursor: pointer;
  }
}

.formulaire {
  width: 410px;
  padding: 10px 25px;
  color: white;
  border: 1px solid var(lightGray);
  background-color: var(--dark-gray);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateX(0);
  opacity: 0;
  animation: slideRight 2s ease-in-out forwards;
  transition: height 0.4s;
  .form-title {
    color: var(--primary);
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  .form-control {
    min-width: 300px;
    margin-bottom: 6px;
    label {
      font-size: 0.8rem;
      font-weight: 500;
      margin-bottom: 3px;
    }
    input,
    textarea {
      font-family: var(--font-family);
      border: none;
      border-radius: 3px;
      outline: none;
      padding: 4px;
    }
    textarea {
      resize: none;
    }
  }

  button {
    width: max-content;
    align-self: center;
  }

  .actions {
    min-width: 300px;
    gap: 7px;

    .btn-custom {
      font-size: 13px;
      padding: 7px 8px 4px 8px;
      margin-top: 20px;
      background-color: var(--secondary);
      color: white;

      &:hover {
        color: var(--secondary);
        background-color: white;
      }

      &:disabled {
        &:hover {
          background-color: var(--secondary);
          color: white;
        }
      }
      transition: all 0.4s;
    }
  }

  .errorText {
    color: #e41717;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;

    // max-width: 300px;
    margin-top: 3px;
  }

  .asterisco {
    margin-left: 1.5px;
    color: #e41717;
  }

  .separator {
    border-color: var(--primary);
    border-radius: 20px;
    background-color: var(--primary);
    height: 2px;
    max-width: 300px;
    margin: 10px auto;
  }
}

.scrollBarStyle {
  &::-webkit-scrollbar {
    width: 7px;
    background-color: white;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--accent-blue);
    border-radius: 3px;
  }
}

button:disabled {
  opacity: 0.5;
  background-color: var(--secondary);
  color: white;
  cursor: not-allowed;
  &:hover {
    opacity: 0.5;
    background-color: var(--secondary);
    color: white;
  }
}

/* Disabilita il pulsante quando è disabilitato */

button[disabled] {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

// Animations

@keyframes slideRight {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
