.teatri-container {
  padding: 30px 5px;
  height: 200vh;
  .teatri-list {
    display: flex;
    flex-direction: column;
    align-items: end;
    // gap: 3px;
    gap: 5px;
    li {
      // width: calc(100% - 303px);
      width: 100%;
      height: 150px;
      padding: 10px 15px;
      border: 1px solid var(--dark-gray);
      border-radius: 8px;
      background-color: var(--dark-gray);
      color: var(--lightGray);
      cursor: pointer;
      &:hover {
        border: 1px solid var(lightGray);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        letter-spacing: 0.4em;
      }
      .teatro-name {
        color: var(--primary);
      }
      transition: background-color 0.5s, letter-spacing 0.5s;
    }
  }
  .user-content {
    position: fixed;
    top: 115px;
    height: calc(100vh - 145px);
    // height: max-content;
    border-radius: 8px;
    width: 300px;
    color: white;
    padding: 20px;
    background-color: var(--dark-gray);
  }
}
